*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 30px;
}

input{
    width: 500px;
    font-size: .8rem;
    border-radius: 5px;
    border: solid 1px #aaaaaa;
    padding: 10px;
    outline-color: #dddddd;
}

.card{
    align-content: center;
    border-radius: 5px;
    overflow: hidden;
    background: #f0f0f0;
    margin: 10px 10px 0 0;
}

.card p{
    padding: 15px;
    text-align: center;
}

.card img{
    width: 100%;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}